Repository nathaniel-may/nest: changes, and which Codecov flags are due for each by the changed paths.
All: adder, tests

fixed spacing to trigger ci build again
  build.sbt
Due: none

fixed path for circleci coverage report
  .circleci/config.yml
Due: none

added property for bad matching
  src/test/scala/nest/NestProperties.scala
Due: tests

sealed pair trait so match compiles without warning and without unreachable case
  src/main/scala/nest/Nest.scala
  src/test/scala/nest/NestProperties.scala
Due: adder, tests

Pair apply constructors not used. removed them.
  src/main/scala/nest/Nest.scala
Due: adder

removed unused apply constructors for pairs given tuples. fixed non-exhaustive match error
  src/main/scala/nest/Nest.scala
Due: adder

removed unused Nest apply constructors
  src/main/scala/nest/Nest.scala
Due: adder

added test for map imposter method
  src/main/scala/nest/Nest.scala
  src/test/scala/nest/NestProperties.scala
Due: adder, tests

added list wrapper properties
  src/test/scala/nest/NestProperties.scala
Due: tests

added more list wrappers to property
  src/test/scala/nest/NestProperties.scala
Due: tests

making spacing change to Nest to see if code cov will update coverage now.
  src/main/scala/nest/Nest.scala
Due: adder

updating circleci badge to public
  README.md
Due: none

changed tag
  .codecov.yml
Due: none

forcing circleci to push coverage report again
  README.md
Due: none

forcing circleci build again
  README.md
Due: none

added property for lift
  src/test/scala/nest/NestProperties.scala
Due: tests

removed unused testing code, updated readme
  README.md
  src/test/scala/nest/Functions.scala
  src/test/scala/nest/Generators.scala
  src/test/scala/nest/NestProperties.scala
Due: tests

renamed repo to be lower case. testing that badges still work
  README.md
Due: none

updated circleci badge with new lower case repo name
  README.md
Due: none

added jitpack info
  README.md
Due: none

fixed headers and included import statement in code examples
  README.md
Due: none

forcing circle ci build
  build.sbt
Due: none

Path conditions:
  adder: any of: src/main/scala/nest
  tests: any of: src/test/scala/nest
